<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net462" />
  <package id="Fluent.Ribbon" version="6.1.0.233" targetFramework="net462" />
  <package id="Fody" version="2.1.2" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net452" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net462" />
  <package id="PropertyChanged.Fody" version="2.1.4" targetFramework="net462" developmentDependency="true" />
</packages>